/* From Uiverse.io by Madflows */ 
.login-background {
  min-height: 100vh;
  background: url('https://wallpapers.com/images/hd/stranger-things-aesthetic-desktop-hrz824k4nubtbmy3.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 2rem;
}
