<div class="flex justify-center items-center min-h-screen bg-green-50 p-4">
  <div class="card">
    <div class="card2">
      <form class="form w-full sm:w-[28rem]">
        <p id="heading">Crear cuenta</p>

        <div class="field">
          <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M20 21v-2a4 4 0 0 0-3-3.87" /><circle cx="12" cy="7" r="4" />
            <path d="M6 21v-2a4 4 0 0 1 3-3.87" /></svg>
          <input class="input-field" type="text" [(ngModel)]="username" name="username" placeholder="Usuario" />
        </div>

        <div class="field">
          <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M16 2H8a2 2 0 0 0-2 2v16l6-3 6 3V4a2 2 0 0 0-2-2z" /></svg>
          <input class="input-field" type="email" [(ngModel)]="email" name="email" placeholder="Correo electrónico" />
        </div>

        <div class="field relative">
          <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M12 11c0-1.105.895-2 2-2s2 .895 2 2-.895 2-2 2-2-.895-2-2z" />
            <path d="M17 11V7a5 5 0 0 0-10 0v4m0 0a5 5 0 0 0 10 0" /></svg>
          <input [type]="showPassword ? 'text' : 'password'" class="input-field" [(ngModel)]="password" name="password" placeholder="Contraseña" />
          <button type="button" (click)="showPassword = !showPassword" class="absolute right-3 top-2 text-sm text-cyan-400">
            {{ showPassword ? '🙈' : '👁️' }}
          </button>
        </div>

        <div class="field">
          <input class="input-field" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmar contraseña" />
        </div>

        <div *ngIf="errorMessage" class="text-red-500 text-xs mt-2">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="text-green-500 text-xs mt-2">{{ successMessage }}</div>

        <div class="btn">
          <button type="button" (click)="register()" class="button2">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>